
<% if %>
  <% user_signed_in? %>

<div class="center jumbotron">
<div class="container">

 <div class="container">
  <table class="table">
  <h2> Bienvenue au club des galériens des TDD</h2>
   <h3> Liste des adhérents</h3>
<% @users.each do |user| %>
      <tr>
        <th>prenom</th>
        <th>Nom</th>
        <th>email</th>
      </tr>
    
        <tr>
          <td><%= user.name%></td>
          <td><%= user.surname%></td>
          <td><%= user.email%></td>

          
          
        </tr>
        </div>


  <%end%>
  </table> </div>

  <% else %>

<div class="center jumbotron">
<div class="container">
<h2> Bien tenté ! Mais tu ne peux accéder à la liste que si<br><br>
tu <%= link_to "t'inscris!", new_user_registration_path, class: "btn btn-lg btn-primary" %> ou que tu  <%= link_to "te connectes", new_user_session_path, class: "btn btn-lg btn-primary" %>.</h2></div></div></div></div>

  <%end%>

  <%= link_to "Accéder à mon profil", profil_path, class: "btn btn-lg btn-primary" %>